@import'flex';
$w:1200px;
$back: #333;
$number :16;
.container {
    max-width: $w;
    margin-right: auto;
    margin-left: auto;
}

main {
    top: 75px;
    z-index: -1;
    position: absolute;
    .silder {
        z-index: 0;
    }
    .contact {
        z-index: 1000;
        margin-bottom: 30px;
        .totop {
            position: fixed;
            bottom: 20px;
            right: 20px;
            transform: translateY(100px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            cursor: pointer;
            height: 50px;
            border-radius: 50%;
            background-color: #333;
            transition: all 0.4s;
            z-index: 1;
            i {
                color: white;
            }
            &:hover {
                background: #F58A20;
                .contact_phone {
                    opacity: 1;
                    background-color: #333;
                    visibility: inherit;
                }
            }
        }
        .phone {
            position: fixed;
            transform: translateY(150px);
            bottom: 75px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            z-index: 1;
            cursor: pointer;
            background-color: rgb(242, 44, 44);
            i {
                color: azure;
            }
            &:hover {
                .contact_phone {
                    opacity: 1;
                    visibility: inherit;
                }
            }
        }
        .zalo {
            position: fixed;
            display: inline-block;
            text-align: center;
            transform: translateY(180px);
            bottom: 135px;
            right: 20px;
            width: 50px;
            line-height: 44px;
            color: #fff;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .11);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            .img-fluid {
                max-width: 100%;
                height: auto;
            }
            &:hover {
                .contact_phone {
                    opacity: 1;
                    visibility: inherit;
                }
            }
        }
        .contact_phone {
            position: absolute;
            top: 4px;
            right: 55px;
            z-index: 9999;
            height: 32px;
            line-height: 26px;
            padding: 3px 10px;
            width: auto;
            border-radius: 5px;
            font-size: 11px;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 1);
            visibility: hidden;
            opacity: 0;
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent rgba(0, 0, 0, 1);
                position: absolute;
                left: 100%;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: all 200ms linear;
            }
        }
        .fixed {
            transition: all 0.4s;
            transform: translate(0);
            animation: facein 0.4s forwards;
        }
    }
    .section-1 {
        margin-bottom: 30px;
        .awe-section-1 {
            .awe-body {
                display: flex;
                justify-content: space-between;
                .awe-item {
                    font-size: 14px;
                    flex: 0 0 calc(25% - 15px);
                    padding: 10px;
                    display: flex;
                    align-items: center;
                }
                .awe-inf {
                    margin-left: 15px;
                    .awe-title {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 1.2;
                        margin-bottom: 5px;
                        font-size: 16px;
                    }
                    .awe-desc {
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    * {
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    a {
        text-decoration: none;
    }
    ul,
    li {
        list-style: none;
    }
    .section-2-category {
        .container {
            .hedding-title {
                margin-bottom: 30px;
                color: var(--text-color);
                font-size: 2em;
                margin: 0px;
                line-height: 1.2;
                text-align: center;
                font-weight: 400;
                margin-bottom: 30px;
            }
            .category-body {
                .slick-list {
                    #list-category {
                        display: flex;
                        justify-content: space-between;
                        .list-item {
                            position: relative;
                            overflow: hidden;
                            padding: 30px 3px;
                            max-width: 30%;
                            transition-duration: 0.64s;
                            .img {
                                width: 100%;
                            }
                            .info {
                                color: #333;
                                text-align: center;
                                margin-top: 12px;
                                .name {
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                                span {
                                    font-size: 14px;
                                    color: #888;
                                }
                            }
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
    .section-3 {
        .section-coupons {
            margin: 40px 0;
            .container {
                .row {
                    .coupons {
                        .coupons-item {
                            position: relative;
                            background: #fff;
                            filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .15));
                            min-height: 100px;
                            height: calc(100% - 8px);
                            .item-icon {
                                width: 80px;
                                flex: 0 0 80px;
                                padding: 8px 4px 8px 8px;
                            }
                            .item-body {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                padding: 12px 15px;
                                .item-head {
                                    text-align: center;
                                    .coupon_title {
                                        font-size: 16px;
                                        color: #F58A20;
                                        font-weight: bold;
                                        margin-bottom: 10px px;
                                    }
                                    .coupon_desc {
                                        font-size: 14px;
                                        line-height: 1.2;
                                        color: #727272;
                                        padding-bottom: 20px;
                                    }
                                }
                                .item-botom {
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    .coupon_copy {
                                        cursor: pointer;
                                        border: none;
                                        padding: 2px 8px 3px 8px;
                                        border-radius: 0;
                                        margin-bottom: 3px;
                                        background: #F58A20;
                                        color: #fff;
                                        transition: all 1s;
                                        position: relative;
                                        &::after,
                                        &::before {
                                            content: " ";
                                            width: 10px;
                                            height: 10px;
                                            position: absolute;
                                            border: 0px solid #fff;
                                            transition: all 1s;
                                        }
                                        &::after {
                                            top: -1px;
                                            left: -1px;
                                            border-top: 1px solid black;
                                            border-left: 1px solid black;
                                        }
                                        &::before {
                                            bottom: -1px;
                                            right: -1px;
                                            border-bottom: 1.5px solid black;
                                            border-right: 1.5px solid black;
                                        }
                                        &:hover {
                                            background: #feae5f;
                                            &::before,
                                            &::after {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                    }
                                    .coupon_info_toggle {
                                        font-size: 14px;
                                        color: #353945;
                                        cursor: pointer;
                                        margin-bottom: 3px;
                                        text-decoration: underline;
                                        margin-left: 10px;
                                    }
                                    .coupon_info {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section-4 {
        .container {
            .flash-container {
                .title-module-main {
                    div {
                        display: flex;
                        .time-sales {
                            align-items: center;
                            >span {
                                color: #F58A20;
                                margin-right: 10px;
                            }
                            .countdown {
                                display: flex;
                                .time {
                                    background: #252525;
                                    border: none;
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    align-items: center;
                                    justify-items: center;
                                    margin-left: 0px;
                                    margin-right: 5px;
                                    border-radius: 5px;
                                    width: 50px;
                                    line-height: 28px;
                                    span {
                                        border-top: 1px solid #888;
                                        color: white;
                                    }
                                    .size {
                                        font-size: x-large;
                                    }
                                    .label {
                                        font-size: x-small;
                                    }
                                }
                            }
                        }
                    }
                    .flash-sale-tab {
                        margin-top: 2px;
                        width: 100%;
                        height: 40px;
                        color: #cbc8c8;
                        border-top: 1px solid #cbc8c8;
                        border-bottom: 1px solid #cbc8c8;
                        ul {
                            align-items: center;
                            height: 100%;
                            li {
                                cursor: pointer;
                                font-weight: bold;
                                font-size: 19px;
                                margin-right: 30px;
                            }
                             :first-child {
                                color: #252525;
                            }
                        }
                    }
                }
            }
            .grid-container {
                margin-top: 20px;
                display: grid;
                margin-left: 20px;
                justify-content: center;
                grid-template-columns: repeat(auto-fit, minmax(226px, 15%));
                /* Cột có kích thước tối thiểu 200px, thu gọn/phóng to linh hoạt */
                gap: 10px;
                .grid-item {
                    /* Màu nền của ô */
                    /* Khoảng cách giữa nội dung và viền của ô */
                    text-align: center;
                    height: 525px;
                    position: relative;
                    /* Căn giữa nội dung trong ô */
                    .row {
                        .col {
                            text-align: left;
                            position: relative;
                            .image-container {
                                position: relative;
                                background: none;
                                height: 150%;
                                width: 90%;
                                transition: all 1s;
                                .product-frame {
                                    position: absolute;
                                    top: var(--img-top, 50%);
                                    left: var(--img-left, 50%);
                                    transform: translate(-50%, -50%);
                                    width: fit-content;
                                    height: 100%;
                                    z-index: 9;
                                }
                                .img-featured {
                                    position: absolute;
                                    top: var(--img-top, 50%);
                                    left: var(--img-left, 50%);
                                    transform: translate(-50%, -50%);
                                    max-width: 100%;
                                    max-height: 100%;
                                    width: 100%;
                                    height: 100%;
                                }
                                &:hover .img_change {
                                    opacity: 0;
                                    display: none;
                                }
                            }
                            .col-inf {
                                .brand {
                                    font-size: 12px;
                                    text-transform: uppercase;
                                    display: inline-block;
                                    line-height: initial;
                                    font-weight: 10;
                                }
                                .title {
                                    display: -webkit-box;
                                    white-space: initial;
                                    overflow: hidden;
                                    margin: 0 0 5px;
                                    font-size: 16px;
                                    font-weight: initial;
                                    line-height: 1.4;
                                }
                                .price {
                                    color: rgb(206, 3, 3);
                                }
                                .price_sales {
                                    >span {
                                        text-decoration: line-through !important;
                                        color: #727272;
                                    }
                                    .percent_sales {
                                        margin-left: 5px;
                                        text-decoration: none !important;
                                        color: white;
                                        background-color: red;
                                        border-radius: 10px;
                                        font-size: 13px;
                                        padding: 2px;
                                    }
                                }
                                .extra {
                                    display: flex;
                                    .extra_color {
                                        width: 25px;
                                        height: 25px;
                                        position: relative;
                                        border-radius: 50%;
                                        background-size: cover;
                                        box-shadow: inset;
                                        margin-left: 5px;
                                        cursor: pointer;
                                        margin-bottom: 8px;
                                        img {
                                            background-size: cover;
                                        }
                                    }
                                    .color_one {
                                        background: url(https://bizweb.dktcdn.net/thumb/thumb/100/448/042/products/load-ec2b275360e540749c500f12b9d42d6a-a284e364c7e044d1a0bf6afa43d1efe5-6873b5d24a454ffc900ac54ecfef76bc.jpg?v=1658372597810);
                                        border: 1px solid #252525;
                                    }
                                    &:hover {
                                        .color_one {}
                                    }
                                    .coloer_two {
                                        background: url(https://bizweb.dktcdn.net/thumb/thumb/100/448/042/products/load-249c6e2a1b1e4d4fadb0a1339d5d1bf5-ed8ca5b16de44124825edc933be65be1-c551627acf9a41ceb6c2307cc10a8bf3.jpg?v=1658372597810);
                                    }
                                }
                                .flashsale_bottom {
                                    .flashsale_progressbar {
                                        .flashsale___percent {
                                            width: 80%;
                                            height: 5px;
                                            margin-top: 4px;
                                            border-radius: 5px;
                                            background: linear-gradient(to right, #FF0000 80%, #FF6666 80%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .all_product {
        position: relative;
        margin-top: 20px;
        left: 45%;
        .view-all {
            display: inline-block;
            padding: 10px 20px;
            background-color: white;
            color: #cd6420;
            font-size: 16px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            border: 1px solid #cd6420;
        }
        &:hover {
            .view-all {
                background-color: #cd6420;
                color: white;
            }
        }
    }
    .section_lookbook {
        .container {
            h2 {
                font-size: 35px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .container_now {
                .lookbook_column {
                    display: flex;
                    .product_column {
                        margin-left: 10px;
                        width: 379px;
                        .product_item_photo {
                            --number: 16;
                            --posx: 5;
                            --posy: 5;
                            display: grid;
                            margin: auto;
                            grid-template-columns: repeat(var(--number), 1fr);
                            grid-template-rows: repeat(var(--number), 1fr);
                            position: relative;
                        }
                        .product_img {
                            grid-column: 1/span var(--number);
                            grid-row: 1/span var(--number);
                            img {
                                object-fit: contain;
                                margin: auto!important;
                                max-height: 100%!important;
                                width: auto!important;
                            }
                        }
                        .btn-1 {
                            --posx: 5;
                            --posy: 9;
                        }
                        .btn-2 {
                            --posx: 6;
                            --posy: 10;
                        }
                        .btn-3 {
                            --posx: 5;
                            --posy: 8;
                        }
                        .btn {
                            position: relative;
                            width: 20px;
                            height: 20px;
                            padding: 0;
                            font-size: 18px;
                            line-height: 11px;
                            background: #fff;
                            text-align: center;
                            border-radius: 50%;
                            z-index: 3;
                            cursor: pointer;
                            display: block;
                            border: 0;
                            outline: none;
                            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
                            opacity: 1;
                            top: 50%;
                            left: 50%;
                            grid-row: var(--posx);
                            grid-column: var(--posy);
                        }
                        .show {
                            display: block !important;
                        }
                        .hide {
                            display: none;
                        }
                        .popover {
                            position: absolute;
                            height: 76px;
                            border: 0;
                            width: 94%;
                            max-width: 200px;
                            z-index: 4;
                            background-color: rgba(255, 255, 255, 0.9);
                            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
                            &.fade {
                                &.top {
                                    margin-top: -10px;
                                    &.in {
                                        opacity: 1;
                                        animation: scaleDown1 0.3s cubic-bezier(0, 0, 0.2, 1);
                                        &.show {
                                            opacity: 1;
                                        }
                                        .popover_content {
                                            padding: 8px 8px;
                                            .popover-link {
                                                display: flex;
                                                flex-wrap: nowrap;
                                                cursor: pointer;
                                                text-decoration: none;
                                                color: #0000;
                                                .img_popover {
                                                    max-width: 80px;
                                                    position: relative;
                                                    img {
                                                        height: 60px;
                                                    }
                                                }
                                                .popover_title {
                                                    padding: 0 0px 0 12px;
                                                    text-align: left;
                                                    max-width: calc(100% - 60px);
                                                    flex-basis: calc(100% - 60px);
                                                    p {
                                                        margin: 0;
                                                        font-size: 14px;
                                                        line-height: 1.2;
                                                        color: #333;
                                                        &.price {
                                                            font-weight: bold;
                                                            color: #ff0000;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .rotated {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
    footer {
        margin-top: 80px;
        background-color: #222;
        .container {
            .footer-element1 {
                display: flex;
                justify-content: space-between;
                padding-top: 70px;
                .logo {
                    width: 360px;
                    a {
                        img {
                            width: 110px;
                        }
                    }
                    .about {
                        p {
                            color: #ffffffb3;
                            margin: 15px 0px;
                        }
                    }
                    .contact {
                        ul {
                            li {
                                strong {
                                    font-weight: bolder;
                                }
                                margin: 8px 0px;
                                color: #fff;
                            }
                        }
                    }
                }
                .information {
                    .title-information h3 {
                        font-size: 1.2857em;
                        font-weight: 600;
                        color: #fff;
                    }
                    ul {
                        li {
                            margin: 8px 0px;
                            a {
                                color: #ffffffb3;
                                &:hover {
                                    color: #28a745;
                                }
                            }
                        }
                    }
                }
                .category {
                    .title-category h3 {
                        font-size: 1.2857em;
                        font-weight: 600;
                        color: #fff;
                    }
                    ul {
                        li {
                            margin: 8px 0px;
                            a {
                                color: #ffffffb3;
                                &:hover {
                                    color: #28a745;
                                }
                            }
                        }
                    }
                }
                .sign-up {
                    width: 350px;
                    .title-sign-up {
                        h3 {
                            color: #fff;
                        }
                    }
                    .about {
                        margin: 10px 0px;
                        p {
                            color: #ffffffb3;
                        }
                    }
                    .search-email {
                        margin-top: 35px;
                        input {
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            background-color: #fff;
                            width: 240px;
                            padding: 13px 20px;
                        }
                        button {
                            display: inline-block;
                            color: #fff;
                            padding: 13px 5px;
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                            background-color: #28a745;
                            transition: all 0.5s;
                            width: 115px;
                            &:hover {
                                background-color: #000;
                            }
                        }
                    }
                }
            }
            .crossbar {
                position: relative;
                width: 1519px;
                border-top: 1px solid #fff;
                height: 1px;
                left: -210px;
                margin: 65px 0px;
            }
            .footer-element2 {
                padding-bottom: 20px;
            }
        }
    }
}

#myModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-content {
        background-color: #fefefe;
        margin: 3% auto;
        padding: 20px;
        border: 1px solid #888;
        max-width: fit-content;
        text-align: center;
        .closse {
            color: #aaa;
            font-weight: bold;
            float: right;
            position: absolute;
            font-size: xx-large;
            right: 0;
            top: -17px;
        }
        &:hover {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .closse:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.coupon-modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99999;
    position: fixed;
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    .modal-dialog {
        position: relative;
        width: auto;
        pointer-events: none;
        top: 50% !important;
        transform: translateY(-50%) !important;
        .modal-content {
            .window-close {
                position: absolute;
                right: 8px;
                top: -1px;
                padding: 0;
                background-color: transparent;
                border: 0;
            }
            .coupon-content {
                padding: 15px 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                pointer-events: auto;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, .2);
                border-radius: 0.3rem;
                outline: 0;
                .coupon-title {
                    color: #F58A20;
                    display: inline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    letter-spacing: 0px;
                    padding: 0px;
                    font-size: 24px;
                    line-height: 32px;
                    max-height: 32px;
                    font-weight: 500;
                    margin: 0px 16px 16px;
                    text-align: center;
                }
                .coupon-row:nth-child(2) {
                    background-color: #f3f3f3;
                }
                .coupon-row {
                    display: grid;
                    grid-template-columns: 33% 1fr;
                    grid-gap: 5px;
                    padding: 10px 20px;
                    margin-left: -20px;
                    margin-right: -20px px;
                    .coupon-label {
                        color: #4c4c4c;
                    }
                    .coupon-info {
                        grid-column: 1/-1;
                        grid-row: 2;
                    }
                }
                .coupon-action {
                    grid-gap: 15px;
                    grid-template-columns: 1fr 1fr;
                    display: grid;
                    margin-top: 20px;
                    padding-top: 20px;
                    border-top: 1px solid #F0F1F2;
                    border-radius: 0 !important;
                    .btn-main {
                        background-color: white;
                        color: #F58A20;
                        border: 1px solid #F58A20;
                        transition: all 1s;
                        position: relative;
                        &::after,
                        &::before {
                            content: " ";
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            border: 0px solid #fff;
                            transition: all 1s;
                        }
                        &::after {
                            top: -1px;
                            left: -1px;
                            border-top: 1px solid black;
                            border-left: 1px solid black;
                        }
                        &::before {
                            bottom: -1px;
                            right: -1px;
                            border-bottom: 1.5px solid black;
                            border-right: 1.5px solid black;
                        }
                        &:hover {
                            background: #F58A20;
                            color: white;
                            &::before,
                            &::after {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .coupon_copy {
                        background: #F58A20;
                        color: #fff;
                        &:hover {
                            background-color: #f6a553;
                        }
                    }
                }
            }
        }
    }
}

.fade {
    transition: opacity .15s linear;
}

.close {
    color: #252525;
}