.flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}

.f-column {
  flex-direction: column;
}

.t-align {
  text-align: justify;
}

.none {
  display: none;
  opacity: 0 !important;
}

.j-center {
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

body Header {
  padding-top: 10px;
}
body Header .logo {
  padding-right: 15px;
}
body Header nav .container-fluid .collapse .navbar-nav a {
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item {
  margin: 11px 20px;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 4px;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item i {
  margin: 0 2px;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item > a {
  position: relative;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item > a::after {
  background-color: #F58A20;
  bottom: calc(0.25rem - 7px);
  content: "";
  height: 2.5px;
  left: 0;
  position: absolute;
  width: 0;
  top: 22px;
  transition: width 0.2s ease-in-out;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item > a:hover::after {
  width: 100%;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item i {
  font-size: 10px;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item .dropdown {
  border: #333;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item .dropdown-menu {
  background: white;
  display: none;
  position: absolute;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item .dropdown-menu li {
  margin-top: 8px;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
  margin: 0px 10px;
}
body Header nav .container-fluid .collapse .navbar-nav .nav-item .promotion {
  margin-top: 8px;
  width: 215px;
  text-align: center;
  padding-bottom: 10px;
}
body Header nav .container-fluid .collapse .navbar-nav .dropdown-list:hover .dropdown-menu {
  display: block;
}
body Header nav .container-fluid .disabled {
  cursor: no-drop !important;
}
body .show-content {
  animation: show-content 5s ease-out forwards;
  animation-name: move;
  position: relative;
}
@keyframes move {
  0% {
    opacity: 0;
    top: -100px;
  }
  10% {
    opacity: 1;
    top: 10px;
    padding-top: 10px;
  }
}
body .header-right {
  margin-left: 15px;
}
body .header-right .icon-account {
  position: relative;
}
body .header-right .icon-account .user {
  position: absolute;
  background: #333;
  border-radius: 5px;
  color: #fff;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 14px);
  width: 95px;
}
body .header-right .icon-account .user::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 14px 11px;
  border-color: transparent transparent #333 transparent;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(360deg);
}
body .header-right .icon-account .user a {
  display: block;
  padding: 7px 8px;
  cursor: pointer;
}
body .header-right .icon-account .user a:hover {
  background: #746a6a;
}
body .header-right .icon-account:hover .user {
  opacity: 1 !important;
  visibility: visible;
}
body .header-right .cart {
  position: relative;
}
body .header-right .cart .count_item {
  position: absolute;
  display: inline-block;
  background: #da3f3f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  top: -5px;
  right: -4px;
  text-align: center;
}
body .header-right i {
  cursor: pointer;
  padding: 0px 15px;
  font-size: 22px;
}
body .header_sticky {
  width: 100%;
  padding-top: 10px;
  top: 10px;
  background: white;
}
body .header_sticky .header-active {
  justify-content: space-between;
  align-items: center;
  max-width: 1000px !important;
}
body .header_sticky .header-active .form-search {
  width: 500px !important;
}
body .header_sticky .header-active .form-search form {
  overflow: hidden;
  position: relative;
  border: 1px solid #333;
  width: 100%;
  border-radius: 24px;
  align-items: stretch;
  display: flex;
}
body .header_sticky .header-active .form-search form .input-group-field {
  padding-right: 75px !important;
  width: 100%;
  font-size: 14px;
  height: 40px;
  color: #363636;
  outline: none;
  overflow: hidden;
  padding-left: 15px !important;
}
body .header_sticky .header-active .btn-action {
  border: none;
  line-height: 1;
  z-index: 4;
  background-color: #363636;
  height: 36px;
  top: -39px;
  right: 3px;
  width: 10%;
  border-radius: 22px;
  position: relative;
  float: right;
}
body .header_sticky .header-active .btn-action i {
  position: absolute;
  top: 32%;
  left: 37%;
  font-size: 17px;
  color: white;
}
body .header_sticky .header-active .search-down {
  margin-top: 3px;
}
body .header_sticky .header-active .search-down ul li {
  color: #746a6a;
  font-size: 11.5px;
  margin-right: 10px;
}/*# sourceMappingURL=Header.css.map */